body {
    background-color: #F8F8FF;
}

.Box-noticia {
	background-color: white;
	width: 70%;
	margin-left: 40px;
	border: 1px solid #6D7377;
	border-radius: 10px;
	margin-top: 25px;
	padding: 10px;
}

.img-noticia {
	margin-left: 25%;
}

/*Redes sociales:*/
.social {
    position: fixed; 
    right: 20px;
    bottom: 0; 
    z-index: 2000; 
}

.social ul {
        list-style: none;
}

.social ul li a {
        display: inline-block;
        color:#fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        transition:all 500ms ease; 
}

.social ul li .icon-facebook {
	background:#3b5998;
	width: 55px;	
} 

.social ul li .icon-twitter {
	background: #00abf0;
	width: 55px;
}
.social ul li .icon-googleplus {
	background: #d95232;
	width: 55px;
}

.social ul li .icon-pinterest {
	background: #ae181f;
	width: 55px;
}

.social ul li a:hover {
    background: #000; 
    padding: 10px 30px; 
}
