body {
    background-color: #F8F8FF;
}

.Box-noticia {
	background-color: white;
	width: 70%;
	margin-left: 2%;
	border: 1px solid #6D7377;
	border-radius: 10px;
	margin-top: 1.8%;
	padding: 0.5%;
}

.Box-noticia2 {
	background-color: white;
	width: 70%;
	border: 1px solid #6D7377;
	border-radius: 10px;
	margin-top: 1.8%;
	margin-bottom: 1.8%;
	padding: 0.5%;
	margin-left: 3%;
}

.noticia2 {
	width: 70%;
	height: 100%;
    right: 20%;
	padding-left: 25%;
	padding-bottom: 1%;
	padding-top: 1%;
	}

.btn {
	margin-top: 1%;
}	

.rounded {
	width: 50%;
	height: 50%;
	margin: auto;
	display:block;
}
	
.anuncios {
	position: fixed;
    top: 36%;
    right: 20%;
	height: 10%;
    width: 2%;
	margin-right: 2.2%;
}

.anuncio {
	height: 180%;
	width: 950%;
}


/*Redes sociales:*/
#social {
	margin-top: 2%;
    bottom: 0; 
    z-index: 2000; 
}

#social ul {
        list-style: none;
}

#social ul li a {
        display: inline-block;
        color:#fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        transition:all 500ms ease; 
}

#social ul li .icon-facebook {
	background:#3b5998;
	width: 45%;	
} 

#social ul li .icon-twitter {
	background: #00abf0;
	width: 45%;
}
#social ul li .icon-googleplus {
	background: #d95232;
	width: 45%;
}

#social ul li .icon-pinterest {
	background: #ae181f;
	width: 45%;
}

#social ul li a:hover {
    background: #000; 
    padding: 5%; 
}


footer {
	color: #DBDEDF;
}

.footer-copyright {
	background-color: #1D212C;
}

.arriba {
	position: fixed;
    bottom: 6%;
    right: 0.2%;
    width: 8%;
    height: 8%;
	margin-right: 3%;
}

@media (max-width: 600px) {
	.anuncios{
		display: block;
		margin: auto;
		margin-bottom:10%;
		position: relative;
	}
}